@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <style type="text/css">
        canvas {
            color: #465f25;
            text-shadow: 0 1px #d9f3b5;
            background: #94d362;
            border-color: #91ce5e #7ab04b #5e903f;
            background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
            background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
            background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
            background-image: linear-gradient(to bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
            -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }
     /*   body {

            display: flex;
            justify-content: center;
            align-items: center;
            text-align:center;
        }*/
   
        script {
            
        }
    </style>
</head>
<body>
    @*<p id="price"></p>*@<h3>Elektri jooksva tunni hind</h3>
    <canvas id="data" width="250" height="75"></canvas>
    <div>
        <script>
            fetch('https://dashboard.elering.ee/api/nps/price/EE/current')
                .then(function (response) {
                    return response.json();
                })
                .then(function (Data) {
                    f(Data);
                })
            function f(Data) {
                var price = Data.data[0].price;
                var c = document.getElementById("data");
                var ctx = c.getContext("2d");
                ctx.font = "30px Arial";
                
                ctx.fillText(price + " €/MWh", 40, 50);
            }
        </script>
     </div>
</body>
</html>
